<!DOCTYPE html>
<html>
<head>
  <title>News</title>
  <link rel="stylesheet" media="all" href="/assets/application-b7276a45d41aa7ed563169668fd397b5d271d9852fff06d6df3acfa4bbccd92e.css" data-turbolinks-track="true" />
  <script src="/assets/application-9e8e0b16f5c84faf6310b5bff45ba6dc15b8f75f4eee3ad279f5b8dee73ea53c.js" data-turbolinks-track="true"></script>
  <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="LL1Iza4tPeHurhkHjqosVS7nkt8rHXxO3CcEfecq+P3uR2BFNeWlxd28o2BjPNFxKMLbEl+54J/c7Mqg15mKVg==" />
</head>
<body>
<div class="container" id="news-content">
  <div class="container" id="about-page">
  <div class="row">
    <div class="col-md-5">
      <%= image_tag('darren-jensen.jpg', width: '350', height:'350', class: "img-circle") %>
    </div>
    <div class="col-md-7">
      <h4>Darren Jensen</h4>
      <h4 class="about-position">Lead Coach</h4>
      <h4 class="about-description">Software Developer, entrepreneur and software programming teacher, Darren is the founder of DevBootstrap. Darren has more than 12 years of professional Software Developer experience and has been involved in several startups in Cambodia including Yoolk, Mangomap, CoLab (a co-working space) and Hackerspace!</h4>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-5">
      <%= image_tag('Vicheth-Profile-head.jpg', width: '350', height:'350', class: "img-circle") %>
    </div>
    <div class="col-md-7">
      <h4>Vicheth</h4>
      <h4 class="about-position">Coach</h4>
      <h4 class="about-description">
        Vicheth is a Web Developer and one of DevBootstrap’s lead coaches teaching Ruby, Rails, JavaScript and Angular JS. Vicheth has over three years of Web Developer experience and has been involved in GEAESYS Information Systems and DevBootstrap.
      </h4>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-5">
      <%= image_tag('devbootstrap-gigs-1.jpg', width: '350', height:'350', class: "img-circle") %>
    </div>
    <div class="col-md-7">
      <h4>Master Kong | Sikheang | Jimmy</h4>
      <h4 class="about-position">Gigs Team</h4>
      <h4 class="about-description">
        We are Master Kong, Sikheang, and Jimmy. This gigs web application is developed by our team using Ruby on Rails. We spent two weeks to develop it after we had studied Ruby on Rails for seven weeks.<br>
        We really enjoy <a target="_new" href="http://devbootstrap.com/">DevBootstrap</a> course.
      </h4>
    </div>
  </div>
</div>


</div>
<br/>
<footer class="navbar navbar-default navbar-fixed-bottom">
  <div class="container footer-link">
    <p class="navbar-text navbar-left">
      <a href="/pages/about">About Us</a> &nbsp; &nbsp;
      <a href="/pages/contact">Contact Us</a>
    </p>
    <p class="navbar-text navbar-right">
      Copyright &copy;2015.
      <a href="/">DevBootstrap Gigs</a>
    </p>
  </div>
</footer>

</body>
</html>
