<!DOCTYPE html>
<html>
<head>
  <title>News</title>
  <link rel="stylesheet" media="all" href="/assets/application-b7276a45d41aa7ed563169668fd397b5d271d9852fff06d6df3acfa4bbccd92e.css" data-turbolinks-track="true" />
  <script src="/assets/application-9e8e0b16f5c84faf6310b5bff45ba6dc15b8f75f4eee3ad279f5b8dee73ea53c.js" data-turbolinks-track="true"></script>
  <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="cGAQQqV6uZwgiv9fS/m6MJyMaewuPNYJr4x9eZG3QiiymjjKPrIhuBOYRTimb0cUmqkgIVqYStivR7OkoQQwgw==" />
</head>
<body>




<div class="container" id="news-content">
  <div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>We would love to hear from you!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h4>DevBootstrap is located at the Development Innovations Building in Toul Tom Pong.</h4>
      <h4>Street View Link:
      <a href="https://www.google.com.kh/maps/@11.534386,104.912265,3a,90y,62.72h,105.54t/data=!3m6!1e1!3m4!1slhI0SvDmMX9Rw1-zS_bUgA!2e0!7i13312!8i6656?hl=en%22" target="_blank"> DevBootstrap Location on Google Street View (opens new tab)</a>
      </h4>
        <h4>Map</h4>
        <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" width="650" height="500" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=Development+Innovations,+Yothapol+Khemarak+Phoumin+Boulevard,+Phnom+Penh,+Cambodia&key=AIzaSyBhlFdNGR0vWAhLrzWlAEs3tPIAsozaKPA" allowfullscreen></iframe></div>
      <address>
        <h4>
          Full Address:
        </h4>
          <h5>
            <i>
              DevBootstrap,<br>
              Development Innovations Building,<br>
              House 296,<br>
              Street 271,<br>
              Phnom Penh,<br>
              Cambodia<br>
            </i>
          </h5>
        </h4>
      </address>
    </div>
    <div class="col-md-4">
      <div class="row">
        <h4>Gigs Team Contact</h4>
        <h4>Feel free to discuss your project with us!</h4><br>
      </div>
      <div class="row">
        <div class="col-md-5">
<!--           <img width="150" height="150" class="img-thumbnail" src="/assets/pirun-2b46991c418fbb14f97917efe9a89a8af9dc8641b6a0c803b97f2982bb0508ff.png" alt="MasterKong 2b46991c418fbb14f97917efe9a89a8af9dc8641b6a0c803b97f2982bb0508ff" /> -->
          <%= image_tag('kong.jpg', width: '150', height:'150', class: "img-thumbnail") %>
        </div>
        <div class="col-md-7">
          <h4>Kong Ou</h4>
          <h5>
            <span class="glyphicon glyphicon-envelope" aria-hidden="true">
            </span>
            <span>kongou.cam@gmail.com</span>
          </h5>
          <h5>
            <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
            <span>+855 (0)93 948-132</span>
          </h5>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-5">
<!--           <img width="150" height="150" class="img-thumbnail" src="/assets/sikheang-c781fc802fe85e3b8e24f9dea57da3d6f872af68fe856954daff134e28a171df.jpg" alt="Sikheang c781fc802fe85e3b8e24f9dea57da3d6f872af68fe856954daff134e28a171df" /> -->
          <%= image_tag('sikheang.jpg', width: '150', height:'150', class: "img-thumbnail") %>
        </div>
        <div class="col-md-7">
          <h4>Sikheang</h4>
          <h5>
            <span class="glyphicon glyphicon-envelope" aria-hidden="true">
            </span>
            <span>ung.sikheang@gmail.com</span>
          </h5>
          <h5>
            <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
            <span>+855 (0)77 600-096</span>
          </h5>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-5">
<!--           <img width="150" height="150" class="img-thumbnail" src="/assets/jimmy-ae0abf0e3edb2b1eef0aa9a64a8ce293910e1547e94ae42059225ffaf49e9d96.png" alt="Jimmy ae0abf0e3edb2b1eef0aa9a64a8ce293910e1547e94ae42059225ffaf49e9d96" /> -->
          <%= image_tag('jimmy.jpg', width: '150', height:'150', class: "img-thumbnail") %>
        </div>
        <div class="col-md-7">
          <h4>Jimmy</h4>
          <h5>
            <span class="glyphicon glyphicon-envelope" aria-hidden="true">
            </span>
            <span>jimmytranman@gmail.com</span>
          </h5>
          <h5>
            <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
            <span>+855 (0)17 520-564</span>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>


</div>
<br/>

</body>
</html>

