<footer class="navbar navbar-default">
  <div class="container footer-link">
    <p class="navbar-text navbar-left">
      <a href="#">About</a>
      <a href="#">Contact</a>
    </p>
    <p class="navbar-text navbar-right">
      Copyright &copy;2015.
      <a href="#">DevBootstrap Gigs</a>
    </p>
  </div>
</footer>
